/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*------------------------------------------Text Styles---*/

.uppercase {
    text-transform: uppercase;
}

.center-align{
    text-align: center;
}

.font{
    font-family: "Playfair Display", sans-serif;
}
.white-text{
    color: white;
}
.line{
    height: 8px;
}
.content-style{
    font-family: "Playfair Display", sans-serif;
    color: white;
}
.content-style h3{
    text-transform: uppercase;
    text-align: center;
}

.footer-question{
    text-transform: capitalize;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.footer-button{
    text-align: center;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
}

.footer-button a:visited{
    color: #70A1AC;
    }

.footer-button a:link{
    color: #70A1AC;
    }
    
.footer-button a:hover{
    -webkit-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 5s ease-in-out;
    background-color: #70A1AC;
}

h3 {
    text-decoration: underline;
}

.clipboard-font{
    font-family: 'Pangolin', cursive;
    color: #70A1AC;
    font-size: 10vem;
}

.bg-transparent li{
    background-color: transparent;
}
.word-style{
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 3vw;

}
.product-table{
        white-space: nowrap;
        font-size: 14px;
    }
/*----------------------------------------Color Styling---*/

.bg-darkestblue{
    background-color: #70A1AC;
}
.bg-darkblue{
    background-color: #8DBCC7;
}
.bg-lightblue{
    background-color: #BAD6DD;
}
.bg-lightestblue{
    background-color:#EDEEF0;
}

/*-------------------------------------------Hover Product Page---*/
.overlay,
.overlay * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.overlay {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.overlay img {
	max-width: 100%;
}

.overlay .overlay-top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: #70A1AC;
	padding: 15px;
	-webkit-transition: all 1s ease-in-out 0s;
	-o-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}
.overlay:hover .overlay-top,
.overlay.active .overlay-top {
	opacity: 1;
}
.overlay .overlay-text {
	text-align: center;
	font-size: 14px;
    font-family: "Playfair Display", sans-serif;
	display: inline-block;
	position: absolute;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*---------------------------------------------------Nav Styling*/
.header-nav .active{
    background-color: #BAD6DD;
}

.header-nav{
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
}

.header-nav a:link{
    color: #70A1AC;
}
.header-nav a:visited{
    color: #70A1AC;
}
.header-nav a:hover{
    background-color: #8DBCC7;
    color: #EDEEF0;
}
    
/*-----------------------------------------------Image Styling*/
.header-logo{
    max-height: 200px;
}

.product-table{
    border: #EDEEF0 solid;
    border-radius: 5px;
}

.product-image {
  width: 100%;
  height: 45vh;
}

.background-image{
    width: 100%;
    position: relative;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    -webkit-transition: 10s ease-in-out;
    -o-transition: 10s ease-in-out;
    transition: 10s ease-in-out;
}

.top-left{
    position: absolute;
    top: 15%;
    left: 10%;
    -webkit-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 5s ease-in-out;
}
.top-right{
    position: absolute;
    top: 5%;
    right: 10%;
    -webkit-transition: 8s ease-in-out;
    -o-transition: 8s ease-in-out;
    transition: 8s ease-in-out;

}
.top-right-two{
    position: absolute;
    top: 30%;
    right: 35%;
    -webkit-transition: 12s ease-in-out;
    -o-transition: 12s ease-in-out;
    transition: 12s ease-in-out;
}
.bottom-right{
    position: absolute;
    bottom: 15%;
    right: 25%;
    -webkit-transition: 15s ease-in-out;
    -o-transition: 15s ease-in-out;
    transition: 15s ease-in-out;
}
.centered{
    position: absolute;
    top: 35%;
    left: 15%;
    -webkit-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}
.top{
    position: absolute;
    top: 20%;
    left: 30%;
}

.bottom{
    position: absolute;
    bottom: 10%;
    left: 35%;
    right: 5%;
}

/*-----------------------------------------------Hover Styling*/

table:hover{
    color: white;
}

tbody tr td:hover{
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
}

tbody:hover{
    color: white;
}
tbody tr:hover{
    color: white;
    background-color: #70A1AC;
}

/*------------------------------------------------Icon Styles*/

.fa-facebook-square{
    font-size: 35px;
    color: white;
}
.fa-linkedin-square{
    font-size: 35px;
    color: white;
}
.fa-instagram{
    font-size: 35px;
    color: white;
}
.fa-pinterest-square{
    font-size: 35px;
    color: white;
}

.fa-facebook-square:hover{
    color: #70A1AC;}
.fa-pinterest-square:hover{
    color: #70A1AC;}
.fa-linkedin-square:hover{
    color: #70A1AC;}
.fa-instagram:hover{
    color: #70A1AC;}

.fa-arrow-circle-left{
    color: black;
    font-size: 60px;
    font-weight: 600;
}

.fa-arrow-circle-right{
    color: black;
    font-size: 60px;
    font-weight: 600;
}

.fa-check{
    color: green;
    font-size: 35px;
}

/*-----------------------------------------------Media Queries*/

@media only screen and (max-device-width: 768px){
.card-img {
    width: 100%;
    height: 20vw;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
}
.header-logo{
    height: 100px;
}

}
@media only screen and (max-device-width: 576px) {
    .header-nav{
        font-size: 8px;
        letter-spacing: 1px;
        padding: 0;
        margin: none;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media only screen and (max-device-width: 769px) {
    .card-body{
        font-size: 12px;
        }
    .fa-facebook-square{
        padding: 10px 8px 15px 8px;
        font-size: 20px;
        color: white;
        }
    .fa-linkedin-square{
        padding: 5px 8px 15px 8px;
        font-size: 20px;
        color: white;
        }
    .fa-instagram{
        padding: 10px 8px 15px 8px;
        font-size: 20px;
        color: white;
        }
    .fa-pinterest-square{
        padding: 10px 8px 15px 8px;
        font-size: 20px;
        color: white;
        }
}

@media only screen and (max-device-width: 576px) {
    .card-img {
        width: 100%;
        height: 35vw;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
@media (min-width: 576px) and (max-width: 1024px) {
    .header-nav{
        font-size: 12px;
    }
    .product-table tr{
        font-size: 11px;
    }
    .overlay-text{
        font-size: 12px;
    }
    .card-img{
        object-fit: cover;
        max-height: 200px;
    }
}
@media only screen and (max-device-width: 769px){
    .card-img{
            object-fit: cover;
            max-height: 260px;
    }
    }


